name: learn-accuknox-report-action
on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]
  push:
    branches: [main]
jobs:
  check-working:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout repo
          uses: actions/checkout@v3
          with:
            submodules: true
            
        - name: Checkout kubearmor repo
          uses: actions/checkout@v3
          with:
            repository: kubearmor/KubeArmor
            ref: main
            path: Kubearmor
  
        - name: Setup a Kubernetes environment
          run: |
            ./Kubearmor/contribution/k3s/install_k3s.sh
             sudo apt install socat
        
        - name: Install accuknoxcli, KubeArmor and Discovery Engine
          uses: accuknox/install-action@v0.1.1 

        - name: Install GoXploit
          run: |
            kubectl apply -f ./k8s-goxploitdb.yaml
            kubectl get po,svc
            kubectl wait --for=jsonpath='{.status.phase}'=Running po -l app=goxploitdb --timeout=120s
            kubectl get po -A
            sleep 10s
            sudo apt install curl -y
            curl -s "http://localhost:8080/goxploitdb/api/v1/platforms" 
            curl -s "http://localhost:8080/goxploitdb/api/v1/types"
            curl -s "http://localhost:8080/goxploitdb/api/v1/cve/CVE-2022-29548" 
 
        - name: Generate Report
          uses: accuknox/report-action@v0.1.2
